header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.top {
    position: fixed;
    top: 0;
    left: 4px;
    right: 5px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    height: 20px;
}

.logoContainer {
    margin-left: 8px;
}

.top img {
    height: 22px;
}

.topButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
}

.topButtons div {
    width: 35px;
    display: flex;
    justify-content: center;
}

.topButtons p {
    margin: 0;
    margin-bottom: 4px;
    font-size: 14px;
}

.topButtons .center {
    margin-bottom: 10px;
}

.topButtons div:hover {
    background-color: rgb(66,69,73);
}

.topButtons .hoverRed:hover {
    background-color: rgb(238, 73, 73);
}

.sidebarMain {
    position: absolute;
    left: 0;
    top: 18px;
    bottom: 0;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarMain div {
    background-color: rgb(66,69,73);
    width: 50px;
    margin: 6px 0;
    text-align: center;
    color: rgb(218, 218, 218);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.sidebarMain div p {
    font-size: 16px;
    font-weight: 500;
}

.sidebarMain div:hover {
    background-color: #5865F2;
    border-radius: 35%;
}

.sidebarMain .greenHover {
    color: #0cc747;
    transition: all 0.3s;
}

.sidebarMain .greenHover:hover {
    background-color: #0cc747;
    color: white;
}

.sidebarMain div .hoverLine {
    position: absolute;
    background-color: white;
    width: 5px;
    height: 18px;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    top: 12px;
    left: -13px;
    opacity: 0;
    transition: all 0.15s;
    pointer-events: none;
}

.sidebarMain div:hover .hoverLine {
    opacity: 1;
}

.sidebarMain .active {
    background-color: #5865F2;
    border-radius: 35%;
}

.sidebarMain .active .hoverLine {
    opacity: 1;
    height: 38px;
    top: 0;
}

.sidebarMain div .altText {
    position: absolute;
    background-color: rgb(21, 21, 21);
    color: white;
    width: 170px;
    border-radius: 15px;
    text-align: start;
    border-radius: 4px;
    top: 0;
    right: -185px;
    opacity: 0;
    transition: all 0.15s;
    pointer-events: none;
}

.sidebarMain div .raiseTop {
    top: -5px;
}

.sidebarMain div:hover .altText {
    opacity: 1;
    z-index: 999;
}

.sidebarMain div .altText p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 5px;
}