.middleHeader {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 315px;
    background-color: #36393F;
    border-bottom: 1px solid #404142;
    
}

.middleHeader .headerTitle {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
}

.headerTitle p {
    font-weight: bold;
    margin: 0;
}

.headerTitle i {
    margin-right: 10px;
    color: rgb(146, 146, 146);
}

.middleHeader .middleIcons {
    display: flex;
    align-items: center;
}

.middleIcons i {
    color: rgb(245, 245, 245);
    margin-right: 25px;
    cursor: pointer;
}

.fa-download:before {
    color: rgb(51, 218, 51);
}

.middleIcons input {
    padding: 3px;
    border-radius: 4px;
    border: none;
    width: 150px;
    background-color: #202225;
    color: rgb(235, 235, 235);
    transition: all 0.2s;
}

.fa-magnifying-glass:before {
    font-size: 12px;
    margin-left: -20px;
    color: rgb(182, 182, 182);
}

.middleIcons input:focus {
    width: 200px;
    outline: none;
}