p {
    font-family: Arial;
    font-size: 14px;
    margin: 0 0;
}

.title {
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
}

.stats {
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.channel {
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.desc {
    width: 280px;
    color: rgb(96, 96, 96);
    line-height: 20px;
    margin-bottom: 100px;
}

.apple {
    background-color: rgb(277, 65, 64);
    padding: 18px 0;
    color: white;
    text-align: center;
}

.shop {
    cursor: pointer;
}

.shop:hover {
    text-decoration: underline;
}