.uber {
    height: 40px;
    width: 130px;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: opacity 0.1s;
}

.uber:hover {
    opacity: 0.8;
}

.amazon {
    background-color: rgb(255, 216, 20);
    height: 40px;
    width: 170px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.1s;
}

.amazon:hover {
    background-color: rgb(228, 196, 37);
}

.github {
    background-color: rgb(46, 164, 79);
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    width: 85px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: box-shadow 0.1s;
}

.github:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.boot {
    background-color: rgb(121, 82, 179);
    width: 110px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.1s;
}

.boot:hover {
    background-color: rgb(92, 53, 151)
}

.strap {
    background-color: white;
    width: 110px;
    height: 40px;
    color: rgb(108, 117, 125);
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    border-color: rgb(108, 117, 125);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 01s, color 0.1s;
}

.strap:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}

.linked {
    background-color: rgb(10, 102, 194);
    border: none;
    height: 40px;
    width: 250px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 01s;
}

.linked:hover {
    background-color: rgb(7, 63, 119)
}

.in {
    background-color: white;
    color: rgb(10, 102, 194);
    border: none;
    height: 40px;
    width: 70px;
    font-size: 15px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 01s, border-width 0.1s;
}

.in:hover {
    background-color: rgba(10, 102, 194, 0.1);
    border-width: 2px;
}